<app-navbar></app-navbar>
<div>
    <p-carousel [value]="cachorros" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-cachorro pTemplate="item" >
            <p-card class="card-container">
                <ng-template pTemplate="header">
                    <div>
                        <img src="{{cachorro}}" alt="">
                    </div>  
                </ng-template>
                Body Content
                <ng-template pTemplate="footer">
                    Footer content here
                </ng-template>
            </p-card>   
        </ng-template>
    </p-carousel>
</div>


<div class="card">
    <div class="flex card-container blue-container overflow-hidden">
        <div class="flex-none flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">PrimeFlex</div>
        <div class="flex-grow-1 flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">PrimeFlex</div>
        <div class="flex-none flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">PrimeFlex</div>
    </div>
</div>





